/* Reset configurações */

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Estilos navegação Padrão*/
.dimensao {
    width: 1024px;
}

/* Conteudo do cabeçalho */
header {
    display: flex;
    justify-content: center;
    background-color: #00cad1;
}

/* Ajusta o container para o "lado a lado"*/
.container-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Define o tamanho da imagem do cabeçalho */
.logo-topo img {
    width: 150px;
    height: 75px;
}

/* Estiliza as ancoras da guia da navegação */
.link-topo {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;

}

.link-topo:active {
    background-color: #fff;
    border-radius: 250px
}


/* Estilos do Banner topo padrão */

.banner {
    background-image: url('../img/recepcao.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Estilo titulo padrão */
.banner-titulo h2 {
    text-align: justify;
    color: #fff;
    font-weight: normal;
}

/* Estilos do container sobre */
.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.sobre-titulo {
    width: 700px;
    text-align: center;
}

.sobre-titulo h3 {
    padding: 20px;
    color: #4c4c4d;
    font-weight: bold;
}

.sobre-titulo p {
    line-height: 25px;
    color: #6d6f70;
}

.lista{
    display: flex;
    align-items: center;
}

.lista li{
    line-height: 30px;
}


/* Aplica estilos para as telas maiores que 1024px */
@media only screen and (min-width:1024px) {

    /* Pseudo elemento p/ desktop */
    .link-topo:hover {
        border-bottom: 2px solid #fff;
    }

    /* estilos do banner para desktop */
    .banner {
        height: 500px;
    }

    .banner-titulo h2 {
        width: 600px;
        font-size: 44px;

    }
}

/* Media queries para tablets */
@media only screen and (min-width: 476px) and (max-width: 1023px) {

    /* Estilos do banner para tablets */
    .banner {
        height: 350px;
    }

    .banner-titulo h2 {
        width: 450px;
        font-size: 32px;
    }

}

/* Media Querie para navegação Mobile */
@media only screen and (max-width: 475px) {
    /* Conteudo do cabeçalho */

    /* Ajusta o container para coluna */
    .container-topo {
        flex-direction: column;
    }

    /* Define uma borda para separar a imagem do nav */
    .nav-topo {
        border-top: 2px #636262 solid;
        padding: 20px;
    }

    .link-topo {
        font-size: 18px;
        padding: 5px;
        margin: 5px;
    }

    /* Define os estilos do banner ppara mobile */
    .banner {
        height: 300px;
    }

    .banner-titulo h2 {
        width: 350px;
        font-size: 26px;
    }

}