/* Reset configurações */

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Estilos navegação Padrão*/
.dimensao {
    width: 1024px;
}

/* Conteudo do cabeçalho */
header {
    display: flex;
    justify-content: center;
    background-color: #00cad1;
}

/* Ajusta o container para o "lado a lado"*/
.container-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Define o tamanho da imagem do cabeçalho */
.logo-topo img {
    width: 150px;
    height: 75px;
}

/* Estiliza as ancoras da guia da navegação */
.link-topo {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;

}

.banner {
    background-image: url('../img/recepcao.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.link-topo:active {
    background-color: #fff;
    text-shadow: 1px 1px 1px black;
    border-radius: 250px
}

.banner-titulo h2 {
    text-align: justify;
    color: #fff;
    font-weight: normal;
}


/* Aplica estilos para as telas maiores que 1024px */
@media only screen and (min-width:1024px) {

    /* Pseudo elemento */
    .link-topo:hover {
        border-bottom: 2px solid #fff;
    }

    .banner {
        height: 500px;
    }

    .banner-titulo h2 {
        width: 600px;
        font-size: 44px;

    }
}

@media only screen and (min-width: 476px) and (max-width: 1023px) {

    .banner {
        height: 350px;
    }

    .banner-titulo h2 {
        width: 450px;
        font-size: 32px;
    }

}

/* Media Querie para navegação Mobile */
@media only screen and (max-width: 475px) {
    /* Conteudo do cabeçalho */

    .container-topo {
        flex-direction: column;
    }

    .nav-topo {
        border-top: 2px #636262 solid;
        padding: 20px;
    }

    .link-topo {
        font-size: 18px;
        padding: 5px;
        margin: 5px;
    }

    .banner {
        height: 300px;
    }

    .banner-titulo h2 {
        width: 350px;
        font-size: 26px;
    }

}
